p
  =current_year
  '
  =author_name
  '
  =link_to 'Test GURU', github_url('asanew', 'test-guru'), target: '_blank'
  br Сервис для управления тестами
  =link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank'
